	/*
  	Flaticon icon font: Flaticon
  	Creation date: 08/08/2019 06:57
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff2") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
    font-size: 24px;
    font-style: normal;
}

.flaticon-research:before { content: "\f100"; }
.flaticon-analysis:before { content: "\f101"; }
.flaticon-therapy:before { content: "\f102"; }
.flaticon-accounting:before { content: "\f103"; }
.flaticon-piggy-bank:before { content: "\f104"; }
.flaticon-social-media:before { content: "\f105"; }
.flaticon-placeholder:before { content: "\f106"; }
.flaticon-email:before { content: "\f107"; }
.flaticon-call:before { content: "\f108"; }
.flaticon-expand:before { content: "\f109"; }
.flaticon-link:before { content: "\f10a"; }