{% extends "_layout" %}

{% block content %}
{% set image = entry.commonBackground.one() %}
{% include "_includes/_sub_header" with { title: entry.title, image: image ? image.getUrl() : 'https://via.placeholder.com/1920x715', breadcrumb: 'on' } %}

<section class="blog-section padding-bottom padding-top">
  <div class="container">
    {% set entryAssets = entry.mediaPhotos.all() %}
    {% if entryAssets|length %}
    <div class="row mb-30-none blog-section-wrapper">
      {% for image in entryAssets %}
      <div class="col-xl-4 col-md-6">
        <div class="post-item">
          <div class="post-thumb">
            <a data-fancybox="gallery" href="{{ image.getUrl() }}"><img src="{{ image.getUrl('image350x350') }}"></a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</section>
<section class="blog-section padding-bottom padding-top">
  <div class="container">
    <div class="section-header">
      <h2 class="title">Instagram</h2> <a href="{{ globalInstagram.textFormatted }}"><i></i></a>
    </div>
    <div class="row mb-30-none blog-section-wrapper">
      {% for item in craft.instagram.getFeed() %}
      <div class="col-xl-4 col-md-6">
        <div class="post-item">
          <div class="post-thumb">
            <a href="https://www.instagram.com/p/{{ item.shortcode }}/" target="_blank">
              <img src="{{ item.src }}" alt="{{ item.caption|striptags|slice(0, 30) }}" />
            </a>
          </div>
          <div class="post-content">
            <h4 class="title"><a href="https://www.instagram.com/p/{{ item.shortcode }}/" target="_blank">{{ item.caption }}</a></h4>
          </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  {% endblock %}
