<footer class="footer-section">
    <div class="footer-top">
        <div class="container">
            <div class="row mb-45-none">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-widget widget-about">
                        <h5 class="widget-title">About Us</h5>
                        <p>Lorem ipsum dolor sit amet, mauris libero congue eget pulvinar, cras ut mus tempus dolor,
                            ante tortor ornare ante arcu nam </p>
                        <h6 class="sub-title">Subscribe</h6>
                        <form class="footer-form">
                            <input type="text" placeholder="Your Email" class="footer-input">
                            <label for="f1"><i class="fas fa-arrow-right"></i></label>
                            <input type="submit" value="" id="f1">
                        </form>
                        <div class="social-icons">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-google-plus-g"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="footer-widget widget-link">
                        <h5 class="widget-title">Useful Link</h5>
                        <ul>
                            <li>
                                <a href="#">Weight Loss</a>
                            </li>
                            <li>
                                <a href="#">Pakckages</a>
                            </li>
                            <li>
                                <a href="#">Class Time</a>
                            </li>
                            <li>
                                <a href="#">About Us</a>
                            </li>
                            <li>
                                <a href="#">Offer</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget widget-post">
                        <h5 class="widget-title">Our Blog post</h5>
                        <ul>
                            <li>
                                <a class="post-title" href="#">Ullamco est amet quis tullam cursus, metus.</a>
                                <span>05 may 2017</span>
                            </li>
                            <li>
                                <a class="post-title" href="#">Ullamco est amet quis tullam cursus, metus.</a>
                                <span>05 may 2017</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget widget-form">
                        <h5 class="widget-title">Contact Form</h5>
                        <form class="footer-contact-form">
                            <input type="text" placeholder="Name">
                            <input type="text" placeholder="Email">
                            <textarea name="footer-message" id="f2" class="footer-textarea"
                                placeholder="Message"></textarea>
                            <input type="submit" value="submit Now">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom align-items-center d-flex">
        <div class="container">
            <p class="m-0">&copy; Copyright <a href="index.html">Gymio</a> - 2019</p>
        </div>
    </div>
</footer>
