<script src="/assets/js/jquery-3.3.1.min.js"></script>
<script src="/assets/js/modernizr-3.6.0.min.js"></script>
<script src="/assets/js/plugins.js"></script>
<script src="/assets/libs/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/js/isotope.pkgd.min.js"></script>
<script src="/assets/js/swiper.min.js"></script>
<script src="/assets/js/waypoint.js"></script>
<script src="/assets/js/counterup.min.js"></script>
<script src="/assets/js/lightcase.js"></script>
<script src="/assets/js/wow.min.js"></script>
<script src="/assets/js/main.js"></script>
