<aside class="sidebar">

  <div class="widget widget-category">
    <h5 class="widget-title">news categories</h5>
    <ul>
      {% nav category in craft.categories.group('news').all() %}
      {% set entryCount = craft.entries.relatedTo(category).count() %}
      <li>
        <a href="{{ category.url }}">{{ category.title }}<span>{{ entryCount }}</span></a>
      </li>
      {% endnav %}
    </ul>
  </div>
  <div class="widget widget-post">
    <h5 class="widget-title">Последние новости</h5>
    <ul>
      {% for entry in craft.entries().section('news').limit(3) %}
      <li>
        <a href="#" class="post-title">Daily Report: More Self-Driving Cars Take to theStreets</a>
        <div class="meta-post">
          <div class="meta-date">
            <a href="#"><i class="far fa-calendar-alt"></i> <span>29 May 2019</span></a>
          </div>
          <div class="meta-comment">
            <a href="#"><i class="far fa-comment"></i> <span>Comment</span></a>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>

  <!-- <div class="widget widget-banner">
  <div class="widget-banner-thumb">
  <img src="assets/images/blog/07.jpg" alt="blog-banner">
</div>
<div class="widget-banner-content">
<h4>add banner</h4>
<a href="#" class="custom-button">buy now</a>
</div>
</div> -->
</aside>
