{% extends "_layout" %}

{% block content %}
{% set image = entry.commonBackground.one() %}
{% include "_includes/_sub_header" with { title: entry.title, image: image ? image.getUrl() : 'https://via.placeholder.com/1920x715', breadcrumb: 'on' } %}
<section class="schedule-section padding-bottom padding-top">
  <div class="container">
    <div class="schedule-wrapper bg_img" data-background="/assets/img/schedule--bg.png" style="background-image: url(&quot;/assets/img/schedule--bg.png&quot;);">
      <div class="schedule-header text-center">
        <h3 class="title text-md-left">{{ entry.title }}</h3>
        {{ entry.pricesDescription }}
      </div>
      <table class="schedule-table" role="table">
        <thead role="rowgroup">
          <tr role="row">
            <th role="columnheader">Наименование услуг</th>
            <th role="columnheader" colspan="2">
              <span class="class-date">Стоимость</span>
              <span class="class-time">8 занятий / 12 занятий</span>
            </th>
            <th role="columnheader">Разово</th>
            <th role="columnheader">Индивидуально</th>
          </tr>
        </thead>
        <tbody role="rowgroup">
          {% for block in entry.pricesTable.all() %}
          <tr role="row">
            {% set relatedEntries = craft.entries.section('sections').relatedTo(block).all() %}
            <td role="cell" data-input="Название секции">
              {% for relatedEntry in relatedEntries %}
              <span><a href="{{ relatedEntry.url }}">{{ relatedEntry.title }}</a></span>
              {% if not loop.last %}<hr>{% endif %}
              {% endfor %}
            </td>
            {% for row in block.stoimost %}
            <td role="cell" data-input="8 занятий">{{ row.eightZanyatiy ? row.eightZanyatiy : '-' }}</td>
            <td role="cell" data-input="12 занятий">{{ row.twelveZanyatiy ? row.twelveZanyatiy : '-' }}</td>
            {% endfor %}
            <td role="cell" data-input="Разовая стоимость">{{ block.razovo ? block.razovo : '-' }}</td>
            <td role="cell" data-input="Индивидуальное занятие">{{ block.individualNo ? block.individualNo : '-' }}</td>
          </tr>
          {% endfor %}
          <tr>
            <td colspan="5"><strong>Пробное занятие(первое) - бесплатно</strong></td>
          </tr>
        </tbody>
      </table>
      <br>
      <h3>Акции</h3>
      {{ entry.pricesSales }}
    </div>
  </div>
</section>
{% endblock %}
