{% extends "_layout" %}

{% set entriesToShow = craft.entries().section('services').limit(12) %}
{% paginate entriesToShow as pageInfo, pageEntries %}

{% block content %}
{% include "_includes/_sub_header" with { title: 'Услуги', image: 'https://via.placeholder.com/1920x715', breadcrumb: 'on' } %}
<section class="feature-section padding-bottom padding-top">
  <div class="container">
    <div class="style-feature">
      {% for entry in pageEntries %}
      <div class="feature-item">
        <div class="feature-thumb">
          {% set image = entry.servicesImage.one() %}
          <a href="{{ entry.url }}">
            <img src="{% if image %}{{ image.getUrl('image350x270') }}{% else %}https://via.placeholder.com/350x270?text=Нет&nbsp;фото{% endif %}" alt="{{ entry.title }}">
          </a>
        </div>
        <div class="feature-content">
          <div class="feature-header">
            <h4 class="title"><a href="{{ entry.url }}">{{ entry.title }}</a></h4>
            <p>{{ entry.servicesBody|striptags|slice(0, 250) ~ '...'  }}</p>
            <a href="{{ entry.url }}">Подробнее</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- <div class="inner-pagination-wrapper d-flex flex-wrap justify-content-center">
    <a href="classes.html"><i class="fas fa-angle-left"></i></a>
    <a href="classes.html">03</a>
    <a href="classes.html" class="active">04</a>
    <a href="classes.html">05</a>
    <a href="classes.html"><i class="fas fa-angle-right"></i></a>
  </div> -->
</div>
</section>
{% endblock %}
