{% extends "_layout" %}

{% block content %}
{% include "_includes/_sub_header" with { title: entry.title, image: 'off', breadcrumb: 'on' } %}
<div class="details-blog-section padding-top padding-bottom">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <article class="details-blog-wrapper">
          <div class="post-item style-two style-three">
            {% set image = entry.newsImage.one() %}
            {% if image %}
            <div class="post-thumb">
              <a href="{{ entry.url }}">
                <img src="{{ image.getUrl('image750x407') }}" alt="{{ entry.title }}">
              </a>
            </div>
            {% endif %}
            <div class="post-content">
              <div class="post-header">
                <h1 class="title">{{ entry.title }}</h1>
                {{ entry.newsBody }}
              </div>
              <div class="meta-post d-flex flex-wrap justify-content-between">
                <div class="meta-date">
                  <i class="flaticon-calendar"></i> <span>{{ entry.postDate | date("d M Y") }}</span>
                </div>
                <div class="meta-comment text-right">
                  <i class="flaticon-clipboard"></i>{% for category in entry.newsCategory.limit(1).all() %} <span><a href="{{ category.url }}">{{ category.title }}</a></span>{% endfor %}
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="col-lg-4">
        {% include "_includes/_sidebar" %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
