{% set seoDefaultTitle = globalSeo.seoTitle %}
{% set seoDefaultDescription = globalSeo.seoDescription %}
{% set seoDefaultImage = globalSeo.seoImage.one() %}

{% if category.title is defined %}
{% set seoTitle = category.title %}
{% set seoDescription = false %}
{% set seoImage = false %}
{% elseif entry is defined %}
{% if entry.seoTitle|length %}
{% set seoTitle = entry.seoTitle %}
{% else %}
{% set seoTitle = entry.title %}
{% endif %}

{% if entry.seoDescription is defined %}
{% set seoDescription = entry.seoDescription %}
{% endif %}

{% if entry.seoImage is defined and entry.seoImage != '' and entry.seoImage %}
{% set seoImage = entry.seoImage.one() %}
{% endif %}
{% endif %}
<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="/assets/favicon/site.webmanifest">
  <link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/assets/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="msapplication-config" content="/assets/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,400i,700&display=swap&subset=cyrillic-ext" rel="stylesheet">

  <link rel="stylesheet" href="/assets/libs/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/all.min.css">
  <link rel="stylesheet" href="/assets/css/animate.css">
  <link rel="stylesheet" href="/assets/css/lightcase.css">
  <link rel="stylesheet" href="/assets/css/flaticon.css">
  <link rel="stylesheet" href="/assets/css/swiper.min.css">
  <link rel="stylesheet" href="/assets/css/style.css">

  <title>{% if seoTitle is defined %}{{ seoTitle }} - {% elseif seoDefaultTitle is defined %}{{ seoDefaultTitle }} - {% endif %}{{ siteName }}</title>

</head>

<body>
  <!-- Preloader -->
  <div class="preloader">
    <div class="preloader-wrapper">
      <img src="/assets/img/atom.svg" alt="preloader">
    </div>
  </div>
  <!-- Preloader -->
  <!-- Header Section Stars Here -->
  <a href="#" class="scrollToTop"><i class="fas fa-angle-up"></i></a>
  <!-- Fixed Sidebar Section Ends Here -->
  <!-- Header Section Stars Here -->
  <header>
    <div class="header-top d-none d-xl-block">
      <div class="container">
        <div class="header-wrapper">
          <div class="logo">
            <a href="/"><img src="/assets/img/tiny-logo.png" alt="logo"></a>
          </div>
          <div class="header-info">
            <div class="info-item">
              <div class="info-thumb">
                <i class="flaticon-placeholder"></i>
              </div>
              <div class="info-content">
                <h6 class="title">location</h6>
                <span>{{ globalAddress.textUnformatted }}</span>
              </div>
            </div>
            <div class="info-item">
              <div class="info-thumb">
                <i class="flaticon-email"></i>
              </div>
              <div class="info-content">
                <h6 class="title">email address</h6>
                <span>{{ globalEmail.textFormatted }}</span>
              </div>
            </div>
            <div class="info-item">
              <div class="info-thumb">
                <i class="flaticon-call"></i>
              </div>
              <div class="info-content">
                <h6 class="title">Phone</h6>
                <span>{{ globalPhone1.textUnformatted }}</span><br>
                <span>{{ globalPhone2.textUnformatted }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-bottom">
      <div class="container">
        <div class="header-bottom-wrapper">
          <div class="logo d-xl-none">
            <a href="#0"><img src="/assets/temp_img/logo-two.png" alt="logo"></a>
          </div>
          <div class="header-bar d-xl-none">
            <span></span>
            <span></span>
            <span></span>
          </div>

          <ul class="menu">
            {% nav entry in craft.entries.section('mainMenu').level(1).all() %}
            {% if entry.hasDescendants() %}
            <li class="menu-item {% if craft.app.request.segments|first  ==  entry.menuLink|split('/')|slice(1, 2)|join('/') %}active{% endif %}">
              <a href="#0" class="menu-item-link">{{ entry.title }}</a>

              <ul class="sub-menu">
                {% set subEntries = craft.entries.descendantOf(entry).level(2) %}

                {% for entry in subEntries.all() %}
                <li class="menu-item {% if craft.app.request.segments|first  ==  entry.menuLink|split('/')|slice(1, 2)|join('/') %}active{% endif %}">
                  <a class="menu-item-link" href="{{ siteUrl|trim('/') }}{{ entry.menuLink }}">{{ entry.title }}</a>
                </li>
                {% if loop.last %}
              </ul>
            </li>
            {% endif %}
            {% endfor %}

            {% else %}
            <li class="menu-item {% if craft.app.request.segments|first  ==  entry.menuLink|split('/')|slice(1, 2)|join('/') %}active{% endif %}">
              <a class="menu-item-link" href="{{ siteUrl|trim('/') }}{{ entry.menuLink }}">{{ entry.title }}</a>
            </li>
            {% endif %}
            {% endnav %}
          </ul>

          <!-- <div class="header-button-wrapper d-none d-xl-inline-flex">
            <a class="header-button" href="login.html">Get Started</a>
          </div> -->
        </div>
      </div>
    </div>
  </header>
  <!-- Header Section Ends Here -->

  {% block content %}
  <p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
  <p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
  {% endblock %}

  {% include "_includes/_footer" %}
  {% include "_includes/_js" %}
</body>

</html>
