{% extends "_layout" %}
{% set description = entry.seoDescription %}
{% block content %}

{% set image = entry.bannerImage.one() %}
<section class="banner-section bg_img" data-background="{% if image %}{{ image.getUrl() }}{% else %}https://via.placeholder.com/1920x715?text=Нет&nbsp;фото{% endif %}" style="background-image: url(&quot;{% if image %}{{ image.getUrl() }}{% else %}https://via.placeholder.com/1920x715?text=Нет&nbsp;фото{% endif %}&quot;);">
    <div class="container">
        <div class="banner-content-container">
            <div class="banner-content">
                <h3 class="sub-title"><span class="shape-wrapper"><span class="shape"></span>{{ entry.bannerSubTitle }}<span class="shape"></span></span></h3>
                <h1 class="title">{{ entry.bannerTitle }}</h1>
                <p>{{ entry.bannerText }}</p>
                {% if entry.bannerButtons|length %}
                <div class="button-group">
                  {% for row in entry.bannerButtons %}
                    <a href="{{ row.ssylka }}" {% if row.vNovomOkne %}target="_blank"{% endif %} class="custom-button">{{ row.nazvanie }}</a>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<section class="feature-section padding-bottom padding-top">
    <div class="container">
        <div class="section-header-wrapper">
            <div class="section-header">
                <h2 class="title">Чем заняться</h2>
                <p>В нашем центре работает одновременно 5 уютных студий разных творческих направлений</p>
            </div>
            <div class="common-navigation d-flex ">
                <div class="common-prev navigation"><i class="flaticon-back"></i></div>
                <div class="common-next active navigation"><i class="flaticon-next"></i></div>
            </div>
        </div>
        <div class="feature-slider">
            <div class="swiper-wrapper">
              {% for entry in craft.entries().section('sections').limit(12).all() %}
                <div class="swiper-slide">
                  <div class="feature-item">
                    <div class="feature-thumb">
                      {% set image = entry.sectionImage.one() %}
                      <a href="{{ entry.url }}">
                        <img src="{% if image %}{{ image.getUrl('image350x270') }}{% else %}https://via.placeholder.com/350x270?text=Нет&nbsp;фото{% endif %}" alt="{{ entry.title }}">
                      </a>
                    </div>
                    <div class="feature-content">
                      <div class="feature-header">
                        <h4 class="title"><a href="{{ entry.url }}">{{ entry.title }}</a></h4>
                        <p>{{ entry.sectionDescription|striptags|slice(0, 250) ~ '...'  }}</p>
                        <a href="{{ entry.url }}">Подробнее</a>
                      </div>
                      <div class="feature-footer d-flex flex-wrap align-items-center justify-content-between">
                        {% set relatedEntry = craft.entries.section('teachers').relatedTo(entry).one() %}
                        {% if relatedEntry|length %}
                        <div class="d-flex flex-wrap">
                          <div class="feature-author-thumb">
                            <a href="{{ relatedEntry.url }}">
                              {% set image = relatedEntry.teachersPhoto.one() %}
                              <img src="{% if image %}{{ image.getUrl('image38x38') }}{% else %}https://via.placeholder.com/38x38?text=Нет&nbsp;фото{% endif %}" alt="{{ relatedEntry.title }}">
                            </a>
                          </div>
                          <div class="feature-author-content">
                            <h6 class="sub-title"><a href="{{ relatedEntry.url }}">{{ relatedEntry.title }}</a></h6>
                            <span>{{ relatedEntry.teachersPosition }}</span>
                          </div>
                        </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- Feature Section Ends Here -->
<!-- Schedule Section Starts Here -->
<section class="schedule-section padding-bottom" id="schedule">
    <div class="container">
      <div class="schedule-wrapper bg_img" data-background="/assets/img/schedule--bg.png" style="background-image: url(&quot;/assets/img/schedule--bg.png&quot;);">
            <div class="schedule-header text-center">
                <h3 class="title text-md-left">Расписание</h3>
                <p class="text-md-right">Обновлено {{ entry.scheduleUpdate|date('short') }}</p>
            </div>
            <table class="schedule-table schedule-table-bold" role="table">
                <thead role="rowgroup">
                    <tr role="row">
                        <th role="columnheader">Время</th>
                        <th role="columnheader">Пн</th>
                        <th role="columnheader">Вт</th>
                        <th role="columnheader">Ср</th>
                        <th role="columnheader">Чт</th>
                        <th role="columnheader">Пт</th>
                        <th role="columnheader">Сб</th>
                    </tr>
                </thead>
                <tbody role="rowgroup">
                  {% for block in entry.scheduleTable.all() %}
                  <tr role="row">
                    <td>{{ block.vremya|time('short') }}</td>
                    <td role="cell" data-input="Понедельник">
                      {% if block.ponedelnik|length %}
                      {% for relatedEntry in block.ponedelnik.all() %}
                      <span><a href="{{ relatedEntry.url }}" style="color:{{ relatedEntry.sectionColor }};">{{ relatedEntry.title }}</a></span>
                      {% if not loop.last %}<hr>{% endif %}
                      {% endfor %}
                      {% else %}
                      <span> - </span>
                      {% endif %}
                    </td>

                    <td role="cell" data-input="Вторник">
                      {% if block.vtornik|length %}
                      {% for relatedEntry in block.vtornik.all() %}
                      <span><a href="{{ relatedEntry.url }}" style="color:{{ relatedEntry.sectionColor }};">{{ relatedEntry.title }}</a></span>
                      {% if not loop.last %}<hr>{% endif %}
                      {% endfor %}
                      {% else %}
                      <span> - </span>
                      {% endif %}

                    </td>

                    <td role="cell" data-input="Среда">
                      {% if block.sreda|length %}
                      {% for relatedEntry in block.sreda.all() %}
                      <span><a href="{{ relatedEntry.url }}" style="color:{{ relatedEntry.sectionColor }};">{{ relatedEntry.title }}</a></span>
                      {% if not loop.last %}<hr>{% endif %}
                      {% endfor %}
                      {% else %}
                      <span> - </span>
                      {% endif %}
                    </td>

                    <td role="cell" data-input="Четверг">
                      {% if block.chetverg|length %}
                      {% for relatedEntry in block.chetverg.all() %}
                      <span><a href="{{ relatedEntry.url }}" style="color:{{ relatedEntry.sectionColor }};">{{ relatedEntry.title }}</a></span>
                      {% if not loop.last %}<hr>{% endif %}
                      {% endfor %}
                      {% else %}
                      <span> - </span>
                      {% endif %}
                    </td>

                    <td role="cell" data-input="Пятница">
                      {% if block.pyatnitsa|length %}
                      {% for relatedEntry in block.pyatnitsa.all() %}
                      <span><a href="{{ relatedEntry.url }}" style="color:{{ relatedEntry.sectionColor }};">{{ relatedEntry.title }}</a></span>
                      {% if not loop.last %}<hr>{% endif %}
                      {% endfor %}
                      {% else %}
                      <span> - </span>
                      {% endif %}
                    </td>

                    <td role="cell" data-input="Суббота">
                      {% if block.subbota|length %}
                      {% for relatedEntry in block.subbota.all() %}
                      <span><a href="{{ relatedEntry.url }}" style="color:{{ relatedEntry.sectionColor }};">{{ relatedEntry.title }}</a></span>
                      {% if not loop.last %}<hr>{% endif %}
                      {% endfor %}
                      {% else %}
                      <span> - </span>
                      {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- Schedule Section Ends Here -->

<!-- Blog Section Starts Here -->
<section class="blog-section padding-bottom padding-top">
    <div class="container">
        <div class="section-header">
            <h2 class="title">Новости</h2>
            <p>Актуальная информация о нашей организации и услугах</p>
        </div>
        <div class="row mb-30-none justify-content-center blog-section-wrapper">
          {% for entry in craft.entries().section('news').limit(12).all() %}
            <div class="col-xl-4 col-md-6">
                <div class="post-item">
                    <div class="post-thumb">
                      {% set image = entry.newsImage.one() %}
                        <a href="{{ entry.url }}"><img src="{% if image %}{{ image.getUrl() }}{% else %}https://via.placeholder.com/596x334?text=Нет&nbsp;фото{% endif %}" alt="{{ entry.title }}"></a>
                    </div>
                    <div class="post-content">
                        <h4 class="title"><a href="{{ entry.url }}">{{ entry.title }}</a></h4>
                        <p>{{ entry.newsBody|striptags|slice(0, 200) ~ '...'  }}</p>
                        <div class="meta-post d-flex justify-content-between">
                          <span>{{ entry.postDate | date("d M Y") }}</span>
                          {% for category in entry.newsCategory.limit(1).all() %} <span><a href="{{ category.url }}">{{ category.title }}</a></span>{% endfor %}
                        </div>
                        <a href="{{ entry.url }}" class="blog-button"><i class="flaticon-share-link"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- Expert Section Starts Here -->
<section class="expert-trainers padding-bottom padding-top">
    <div class="container">
        <div class="section-header-wrapper">
            <div class="section-header">
                <h2 class="title">Наши педагоги и специалисты</h2>
                <p>Мы знаем, что ваш ребёнок уникален и талантлив и наша специалисты помогут ему развить в себе больше новых качеств и закрепить полученные результаты.</p>
            </div>
            <div class="common-navigation d-flex ">
                <div class="common-prev navigation"><i class="flaticon-back"></i></div>
                <div class="common-next active navigation"><i class="flaticon-next"></i></div>
            </div>
        </div>
        <div class="expert-slider">
            <div class="swiper-wrapper">
              {% for entry in craft.entries().section('teachers').limit(12).all() %}
                <div class="swiper-slide">
                    <div class="expert-item">
                        <div class="expert-thumb">
                          <a href="{{ entry.url }}">
                            {% set image = entry.teachersPhoto.one() %}
                            <img src="{% if image %}{{ image.getUrl('image350x403') }}{% else %}https://via.placeholder.com/350x403?text=Нет&nbsp;фото{% endif %}" alt="{{ entry.title }}">
                          </a>
                        </div>
                        <div class="expert-content">
                          <div class="expert-info">
                            <h4 class="sub-title"><a href="{{ entry.url }}">{{ entry.title }}</a></h4>
                            <span>{{ entry.teachersPosition }}</span>
                          </div>
                          <a class="expert-link" href="{{ entry.url }}"><i class="flaticon-share-link"></i></a>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</section>
<!-- Expert Section Ends Here -->
{% endblock %}
